body{
    background-color: rgb(27, 27, 27);
}
#logo{
    margin:100px 200px;
}
#logo h1{
    color:#ccc;
    font-size: 3.5rem;
}
.parent{
    background-color: white;
    padding: 2%;
}
.parent .first-child{
    border-radius: 20px;
    background-color: black;
    padding:20px
}
.name{
    margin:0 30% 20px 30%;
   width:auto;
    color:#000;
    background-color: #ccc;
    text-align: center;
    font-size: 2.2rem;
    font-weight: bold;
}
.btn{
    text-align: center;
    margin:40px 0 20px 0;
}

button{
    width:30%;
    height:60px;
    display: inline-block;
    font-weight: bold;
    font-size: 1.3rem;
    background-color: rgb(230, 230, 51);
    text-align: center;
    margin:0px 40px;
    padding:10px;
    border-radius: 10px;
    cursor: pointer;
}
.getNews{
    text-align:center;
    font-size:2.5rem;
    color:black;
    font-weight: bold;
}
.stayupdate{
    margin:35px 0;
}
.stayupdate p{
   text-align:center;
   color:white;
   color:black;
   font-size: 3.5rem;
}



/* saved news page */
#saved_section{
    margin:100px 300px;
}
.saved_parent{
    background-color: #fff;
}
.saved_header{
    background-color: #000;
    border-radius: 25px;
    padding:20px;
}
.saved_name{
    display:inline-block;
    color:#000;
    background-color: #ccc;
    text-align: left;
    font-size: 1.6rem;
    padding: 5px;
    font-weight: bold;
}
.saved_button{
    display:inline-block;
    color:#000;
    padding: 2px;
    background-color: rgb(224, 224, 95);
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 10px;
    margin-left: 10px;
}
.saved_news{
    background-color: rgb(137, 135, 135);
    margin: 10px;
    border-radius: 15px;
}
.saved_news h1{
    
   display:inline-block
}
.saved_news span{
    margin: 10px;
    float: right;
    display: block;
}
.saved_news p{
    font-size: 1.5rem;
    padding: 10px;
}



/* news news page */
ul{
    margin: 10px 0 0 0;
    padding: 0;
}
ul span{
    display:inline-block;
    color:#000;
    padding: 3px;
    background-color: rgb(224, 224, 95);
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 10px;
    

}
ul li{
    display:inline-block;
    padding: 10px;
    background-color: rgb(224,224,95);
    text-align: center;
    font-size: 1.1rem;
    font-weight: bold;
    border-radius: 10px;
    margin: 10px;
}


/* apply on all page */
a{
    text-decoration: none;
    color: #000;
    text-transform: uppercase;

}